.Homepage {
	width: 100%;
	height: auto;
	min-height: 800px;
	margin: 0;
	padding-top: 8em;
}

.HomepageWelcome {
	max-width: 1300px;
	margin: 0 auto;
	padding: 40px;
	overflow: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.WelcomeContent {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.WelcomeContent img {
	height: 280px;
	margin-bottom: 1em;
}

.WelcomeContent img:hover {
	animation-name: floating;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.WelcomeContent h1 {
	margin: 0;
	font-size: 2.5em;
	line-height: 1em;
	color: #fff;
	box-sizing: border-box;
}

.WelcomeContent p {
	font-size: 1.15em;
	margin: 0;
	box-sizing: border-box;
	color: #29abe2;
	align-self: flex-end;
}

.btnContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.btnContainer button {
	width: 200px;
}

@media (min-width: 768px) {
	.HomepageWelcome h1 {
		font-size: 4em;
	}

	.HomepageWelcome P {
		font-size: 1.85em;
	}
}

@media (max-width: 1280px) and (min-width: 768px) {
}

@keyframes floating {
	from {
		transform: translate(0, 0px);
	}
	65% {
		transform: translate(0, -10px);
	}
	to {
		transform: translate(0, 0px);
	}
}
