.Footer {
	width: 100%;
	background: #242424;
	color: #ffffff;
	text-align: center;
	padding: 10px 0;
	font-size: 0.8em;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (min-width: 768px) {
	.Footer {
		font-size: 1em;
	}
}
