.ButtonWhite {
	color: #333333;
	background: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 5px;
	width: 100%;
	box-sizing: border-box;
	padding: 10px 20px;
	outline: none;
	font-weight: 600;
	text-transform: uppercase;
	margin-right: 10px;
	box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.1);
	letter-spacing: 0.02em;
	font-family: 'Open Sans', sans-serif;
}

.ButtonRegular {
	color: #ffffff;
	background: #706d6d;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	border: none;
	border-radius: 5px;
	width: 100%;
	padding: 10px 20px;
	outline: none;
	font-weight: 600;
	text-transform: uppercase;
	box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.1);
	letter-spacing: 0.02em;
	font-family: 'Open Sans', sans-serif;
}

.ButtonRegular:hover {
	background: #29abe2;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
	color: #fff;
	transform: translateY(-2px);
	cursor: pointer;
}
.ButtonWhite:hover {
	background: #ffffff;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
	color: #29abe2;
	transform: translateY(-2px);
	cursor: pointer;
}

@media (min-width: 768px) {
	.ButtonWhite {
		width: auto;
	}

	.ButtonRegular {
		width: auto;
	}
}
