.Project {
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-flow: column;
	justify-content: space-between;
	padding: 10px 0 40px;
	border-bottom: 3px solid #333333;
}

.description {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 90%;
	box-sizing: border-box;
}

.DescButtons {
	display: flex;
	flex-flow: column;
	width: 100%;
}

.DescButtons button {
	margin: 10px 0;
	box-sizing: border-box;
}

.Project img {
	height: 60%;
	width: 90%;
}

.Project h2 {
	margin-bottom: 0;
	color: #333333;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
}

.Project p {
	max-width: 100%;
	font-family: 'Open Sans', sans-serif;
}

@media (min-width: 768px) {
	.Project {
		max-width: 1200px;
		flex-flow: row;
		padding: 20px 0;
		border-bottom: none;
	}

	.description {
		display: flex;
		align-items: flex-start;
		width: auto;
	}

	.DescButtons {
		flex-flow: row;
	}

	.DescButtons button {
		margin-right: 10px;
	}

	.Project img {
		height: 300px;
		width: 500px;
	}

	.Project p {
		max-width: 600px;
	}
}

@media (max-width: 1280px) and (min-width: 768px) {
	.description {
		padding-left: 20px;
	}
	.Project img {
		padding-right: 20px;
		height: 250px;
		width: 400px;
	}
}
