.NavigationItems {
	display: flex;
	justify-content: space-between;
	width: 250px;
	margin-left: auto;
	color: white;
}

.NavigationItems a {
	letter-spacing: 0.05em;
}

.NavigationItems a:hover,
.NavigationItems a:focus,
.NavigationItems a:active {
	cursor: pointer;
	color: rgb(41, 171, 226);
}

.Active {
	color: rgb(41, 171, 226);
}
