.NavigationItems {
	display: flex;
	justify-content: space-between;
	width: 300px;
	margin-left: auto;
	color: white;
	padding: 10px;
	border-bottom: 2px solid transparent;
}

.NavigationItems a {
	letter-spacing: 0.05em;
	padding: 5px 0;
	font-size: 1.2rem;
}

.NavigationItems a:hover,
.NavigationItems a:focus,
.NavigationItems a:active {
	cursor: pointer;
	color: rgb(41, 171, 226);
	border-bottom: 2px solid rgb(41, 171, 226);
}

.Active {
	color: rgb(41, 171, 226);
}
